@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

:root {
  --main-color: #3754db;
  --color-pending: #df9a00;
  --color-inProgress: #3754db;
  --color-inReview: #8937db;
  --color-completed: #00c271;
  --color-unassigned: #b80020;
  --color-toDo: #808080;
}

body {
  margin: 0;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

h1 {
  color: #101c56;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
}

h4 {
  color: #636363;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
